body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-banner {
    background-image: url(images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 13.5%;
}

.top-banner-text {
    text-align: center;
    color: white;

}


.top-banner-text h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    margin-top: 0PX;
    margin-bottom: 0px;
}

.top-banner-text p {
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 30px;
}

#small {
    font-size: 15px;
}

#Donate-now-button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 30px;
}

.Donate-Today {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.Donate-Today-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 0px;
}

#Donate-Today-text {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 25px;
    text-align: center;
}

.Amount {
    display: flex;
}

#tk-100 {
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    text-align: center;
    font-size: 30px;
    margin-left: 3.5%;
    margin-right: 2%;
    padding: 0% 2%;
    background-color: #FAFAFA;
    border-radius: 5%;
}

#tk-200 {
    color: #FF5959;
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    text-align: center;
    font-size: 30px;
    margin-right: 2%;
    padding: 0% 2%;
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
    border-radius: 5%;
}

#tk-500 {
    color: #707070;

    width: 15%;
    text-align: center;
    font-size: 30px;
    margin-right: 2%;
    padding: 0% 2%;
    background-color: #FAFAFA;
    border-radius: 5%;
}

#tk-1000 {
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    text-align: center;
    font-size: 30px;
    margin-right: 2%;
    padding: 0% 2%;
    background-color: #FAFAFA;
    border-radius: 5%;
}

#tk-5000 {
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    text-align: center;
    font-size: 30px;
    padding: 0% 2%;
    background-color: #FAFAFA;
    border-radius: 5%;
    margin-right: 3.5%;


}

#form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

#amount-input {
    border: none;
    font-size: 20px;
    color: #B3B3B3;
    width: 22%;

}

.Our-plan {
    display: flex;
    width: 78%;
    margin-left: 11%;

}

.Our-plan h1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.Our-plan p {
    font-size: 20px;
    color: #707070;

}

#Food {
    width: 32%;
    margin-right: 2%;
    background-color: #edf5f6;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;

}

#Shelter {
    width: 32%;
    margin-right: 2%;
    background-color: #ffeeee;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}

#Education {
    width: 32%;
    background-color: #fff4d6;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}

footer {
    height: 150px;
    background-color: #0B0D17;
    text-align: center;
    margin-top: 35px;
    padding-top: 5px;
    padding-bottom: 30px;

}

footer h1 {
    font-family: 'The Nautigal', cursive;
    color: #FF5959;
    font-size: 50px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 5px;
}